services:
  - type: web
    name: diani-sea-scouts
    env: php
    buildCommand: composer install
    startCommand: apachectl -D FOREGROUND
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: PHP_VERSION
        value: 8.2
